
*.user
/gama/AUTHORS
/gama/ChangeLog
/gama/configure
/gama/COPYING
/gama/Doxyfile
/gama/INSTALL
/gama/NEWS
/gama/README
/gama/TODO
/gama/ChangeLog.1
/gama/configure.ac
/gama/Makefile.am
/gama/gama.dox
/gama/config.h.in
/gama/Makefile.in
/gama/config.h.linux
/gama/aclocal.m4
/gama/autogen.sh
/gama/bin/Makefile.am
/gama/bin/gama-g3.cpp
/gama/bin/gama-local.cpp
/gama/bin/gama-local-xml2sql.cpp
/gama/bin/gama-local-xml2txt.cpp
/gama/bin/Makefile.in
/gama/doc
/gama/lib/expat
/gama/lib/gnu_gama
/gama/lib/matvec
/gama/lib/Makefile.am
/gama/lib/Makefile.in
/gama/scripts
/gama/xml